* {
	margin: 0;
	padding: 0
}

*,
:after,
:before {
	box-sizing: border-box
}

body,
html {
	height: 100%
}

html {
	-webkit-tap-highlight-color: transparent;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	line-height: 1.6;
	font-size: 14px;
	-webkit-tap-highlight-color: transparent
}

input,
button,
textarea,
select {
	outline: none;
	resize: none;
	border: none;
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	color: inherit;
	font: inherit
}

body,
input,
textarea,
select,
button {
	-webkit-touch-callout: none;
	-webkit-font-smoothing: antialiased;
	font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif
}


img {
	border: none
}

em {
	font-style: normal
}

button {
	cursor: pointer;
	background: none
}

button,
video {
	border: none;
	outline: none
}

ol,
ul,
li,
dl,
dd,
dt {
	list-style: none
}

a {
	text-decoration: none;
	color: #282828;
	outline: none
}

a:hover {
	text-decoration: none;
	color: #e50914
}

table {
	empty-cells: show;
	border-collapse: collapse
}

caption,
th {
	text-align: left;
	font-weight: 400
}

::selection {
	background: #ea4c89;
	color: rgba(7,7,7,.7);
	color: rgba(255, 255, 255, 0.85)
}

select::-ms-expand,
input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check,
input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear {
	display: none
}

input[type="radio"],
input[type=checkbox] {
	clip: rect(0, 0, 0, 0)
}

.wrap {
	width: 1120px;
	margin: 0 auto;
	font-size: 0;
	padding-top: 64px
}

.nowrap,
.poster-item-title,
.list-row-title h4,
.list-row-title p {
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap
}

.clearfix {
	*zoom: 1
}

.clearfix:after,
.clearfix:before {
	display: table;
	content: ""
}

.clearfix:after {
	clear: both
}

@font-face {
	font-family: 'sp';
	src: url("../font/sp.eot");
	src: url("../font/sp.eot") format("embedded-opentype"), url("../font/sp.ttf") format("truetype"), url("../font/sp.woff") format("woff"), url("../font/sp.svg") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: 'sp' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: revert;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.icon-arrow-right:before {
	content: "\e906"
}

.icon-cooperation:before {
	content: "\e905"
}

.icon-auth:before {
	content: "\e903"
}

.icon-good:before {
	content: "\e904"
}

.icon-down:before {
	content: "\e902"
}

.icon-search:before {
	content: "\e900"
}

.icon-play:before {
	content: "\e901"
}

body::after {
	content: "";
	display: block;
	width: 100%;
	height: 420px;
	position: absolute;
	top: -120px;
	left: 0;
	background: url(http://www.woniu6.cn/tools/maijiaxiu/images/bg.svg) no-repeat 50%;
	z-index: -1;
	opacity: .38
}

header {
	background: rgba(7,7,7,.7);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
	width: 100%;
	z-index: 9;
	position: fixed;
	top: 0;
	left: 0
}

.header {
	display: flex;
	align-items: center;
	height: 64px;
	position: relative
}

.header.wrap {
	padding-top: 0
}

.logo {
	height: 28px
}

.logo img {
	height: 100%
}

.menu-item {
	display: inline-block;
	padding: 0 0 0 20px
}

.menu-item-icon {
	display: none
}

.menu-item-name {
	font-weight: 700;
	font-size: 16px
}

.menu-item-name i {
	display: none
}

.home-search {
	position: relative
}

.home-search-container {
	padding: 80px 200px;
	text-align: center
}

.home-search-container h2 {
	font-size: 38px;
	-webkit-font-smoothing: auto;
	font-weight: 300
}

.home-search-container h3 {
	font-size: 16px;
	font-weight: 400;
	padding: 5px 0 15px;
	color: #757575
}

.search-box-wrap {
	padding-top: 20px;
	position: relative
}

.search-box {
	background: #dbdee2;
	border-radius: 10px;
	padding: 5px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.search-input {
	font-size: 16px;
	background: rgba(7,7,7,.7);
	height: 50px;
	width: 100%;
	border-radius: 7px 0 0 7px;
	padding: 0 10px 0 44px;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.search-btn {
	padding: 0 18px;
	font-size: 16px;
	font-weight: 700;
	border-radius: 0 7px 7px 0;
	background: rgba(7,7,7,.7)
}

.search-box .icon-search {
	position: absolute;
	left: 23px;
	top: 22px;
	font-weight: 700;
	color: #a0a0a0;
	font-size: 14px
}

.search-advice {
	position: absolute;
	display: none;
	width: 100%;
	margin-top: -9px;
	background: rgba(7,7,7,.7);
	border: 5px solid #dbdee2;
	border-top-width: 0;
	border-radius: 0 0 10px 10px;
	z-index: 999
}

.search-advice.open {
	display: block
}

#advice {
	margin: 0 15px;
	border-top: 1px solid #f1f3f5;
	padding: 5px 0;
	position: relative
}

#advice li {
	font-size: 14px;
	text-align: left;
	padding: 3px 0
}

#advice li:hover {
	background: #f3f5f7;
	margin: 0 -15px;
	padding: 3px 15px;
	cursor: pointer;
	color: #e50914
}

#advice li:before {
	content: "\e900";
	font-family: 'sp' !important;
	font-size: 14px;
	font-weight: 700;
	color: #bcbcbc;
	margin-right: 9px;
	margin-left: 4px
}

.content {
	padding-top: 100px
}

.wrap-main {
	width: calc(72% - 20px);
	display: inline-block
}

.wrap-side {
	width: 28%;
	margin-left: 20px;
	float: right
}

.wrap-inner {
	box-shadow: 0 10px 40px -6px rgba(0, 0, 0, 0.1);
	background: rgba(7,7,7,.7);
	border-radius: 5px
}

.side-content {
	padding: 20px 20px 5px;
	margin-bottom: 20px
}

.list {
	padding: 5px 20px 0;
	margin-bottom: 20px;
	overflow: hidden
}

.list-box {
	margin-right: -15px
}

.list-header {
	padding: 12px 0
}

.list-header h3 {
	font-size: 18px;
	display: inline-block;
	position: relative
}

.list-header h4 {
	font-size: 18px
}

.list-header h3::after,
.list-header h3::before {
	content: '';
	z-index: 2;
	position: absolute;
	right: -17px;
	top: 7px;
	height: 15px;
	width: 10px;
	background: #e50914;
	border-radius: 3px;
	transform: skewX(-12deg)
}

.list-header h3::after {
	background: #ffc9ba;
	right: -20px;
	z-index: 1
}

.list-tab {
	float: right
}

.list-tab-item {
	font-size: 13px;
	cursor: pointer;
	border-radius: 10px;
	margin-left: 5px;
	line-height: 30px;
	padding: 0 10px;
	background: #f3f5f7;
	display: inline-block
}

.list-tab-item.active {
	background: #ffeae5;
	color: #e50914
}

.list-tab-item:first-child {
	margin: 0
}

.poster-item {
	width: calc(14.2857% - 15px);
	position: relative;
	display: inline-block;
	font-size: 14px;
	margin: 0 15px 20px 0
}

.wrap-main .poster-item {
	width: calc(20% - 15px)
}

.poster-item-cover {
	position: relative;
	height: 0;
	padding-top: 140%;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
	border-radius: 5px
}

.poster-item-cover-pic,
.poster-item-cover-pic img {
	height: 100%;
	width: 100%
}

.poster-item-cover-pic img {
	top: 0;
	left: 0;
	object-fit: cover;
	position: absolute
}

.poster-item-info {
	margin-top: 12px
}

.poster-item-title {
	text-align: center;
	font-size: 14px;
	color: #424242
}

.more-go {
	float: right;
	font-size: 13px;
	color: #e50914;
	padding: 5px 10px 5px 12px;
	background: rgba(7,7,7,.7)0ec;
	border-radius: 20px 50px 50px 20px
}

.more-go i {
	font-size: 12px;
	margin-left: 5px;
	transform: scale(0.7);
	font-weight: 900
}

.list-m .poster-item:nth-last-child(-n+2) {
	display: none
}

.list-text-box {
	padding: 0 0 20px
}

.list-text-box a {
	font-size: 14px;
	margin: 0 10px 10px 0;
	white-space: nowrap
}

.list-text-box a:hover {
	text-decoration: underline
}

.text-item {
	font-size: 14px;
	padding: 10px 0;
	display: inline-block;
	width: 100%;
	border-top: 1px solid #f3f5f7
}

.text-item:hover i {
	color: #e50914
}

.text-item i {
	margin-right: 10px;
	color: #a0a0a0
}

.text-img {
	text-align: center;
	padding: 15px 0
}

.text-img img {
	height: 32px
}

.text-img.dyxs img {
	height: 42px
}

.page-header .search-box-wrap {
	position: absolute;
	left: 158px;
	padding: 0
}

.page-header .search-box {
	width: 500px;
	padding: 2px
}

.page-header .search-box .icon-search {
	left: 16px;
	top: 14px
}

.page-header .search-input {
	padding-left: 38px;
	height: 40px;
	border-radius: 8px 0 0 8px
}

.page-header .search-btn {
	background: rgba(7,7,7,.7);
	border-radius: 0 8px 8px 0
}

.page-header .search-advice {
	border-width: 2px;
	border-top: 0;
	margin-top: -3px
}

.page-header .search-box.open {
	border-radius: 10px 10px 0 0
}

.page-header .search-box.open .search-input {
	border-bottom-left-radius: 0
}

.page-header .search-box.open .search-btn {
	border-bottom-right-radius: 0
}

.page-header #advice li:before {
	margin-left: 0
}

.tab {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	margin: -17px -20px 0;
	padding-bottom: 20px
}

.tab-item {
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #e9ecef;
	border-width: 0 1px 1px 0;
	background: #f7f8f9;
	padding: 15px 0;
	width: 100%;
	text-align: center;
	cursor: pointer
}

.tab-item:last-child {
	border-right-width: 0
}

.tab-item.selected {
	color: #e50914;
	cursor: inherit;
	background: rgba(7,7,7,.7);
	border-bottom-width: 0
}

.tab-list {
	display: none
}

.tab-list.selected {
	display: block
}

.list-row {
	padding: 0 0 20px
}

.list-tips {
	min-height: 500px;
	width: 100%;
	text-align: center
}

.list-tips-content {
	font-size: 16px;
	height: 50px;
	padding-top: 200px
}

.list-tips-content strong {
	color: #e50914
}

.list-row-info {
	display: flex;
	align-items: center;
	padding: 12px 15px;
	border-radius: 10px;
	position: relative;
	margin: 3px 0
}

.list-row-info:nth-child(odd) {
	background: #f7f8f9
}

.list-row-info a {
	font-size: 14px;
	color: #424242;
	position: relative
}

.list-row-text {
	width: 100%
}

.list-row-title {
	width: 90%;
	margin-left: 40px
}

.list-row-title h4 {
	max-width: 90%;
	font-size: 16px;
	font-weight: 400
}

.list-row-title p {
	max-width: 90%;
	font-size: 12px;
	color: #757575
}

.list-row-playicon {
	float: right;
	margin: 7px 5px 0
}

.list-row-playicon i {
	font-size: 12px;
	color: rgba(7,7,7,.7);
	background: #c2c6d0;
	border-radius: 50%;
	transform: scale(0.85);
	height: 32px;
	width: 32px;
	line-height: 32px;
	text-indent: 11px
}

.list-row-playicon i.icon-down {
	text-indent: 9px;
	line-height: 33px;
	font-size: 14px
}

.list-row-siteicon {
	height: 32px;
	width: 32px;
	position: absolute;
	left: 0;
	top: 6px;
	text-align: center
}

.list-row-siteicon img {
	width: 16px;
	vertical-align: -7px
}

.site-tag {
	height: 18px;
	line-height: 18px;
	padding: 0 5px;
	font-size: 12px;
	position: relative;
	z-index: 1;
	color: #327ccf;
	margin-left: 5px;
	display: inline-block
}

.site-tag i {
	vertical-align: -1px;
	margin-right: 1px
}

.site-tag em {
	display: inline-block;
	transform: scale(0.92);
	font-weight: 500
}

.site-cooperation {
	color: #796212
}

.site-tag::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background: linear-gradient(to right bottom, #e9f4ff 0%, #ade2f3 100%);
	border-radius: 5px;
	transform: skewX(-12deg);
	left: 0;
	top: 0;
	z-index: -1;
	border-bottom: 1px solid #b1c5ff
}

.site-cooperation::after {
	background: linear-gradient(to right bottom, rgba(7,7,7,.7)7d0 0%, #e3d79e 100%);
	border-bottom-color: #ddcbc0
}

.info {
	border-radius: 10px 10px 0 0;
	position: relative;
	padding: 20px
}

.info+.list {
	border-radius: 0 0 10px 10px;
	padding-top: 10px
}

.info-poster-item {
	width: 140px;
	float: left
}

.info-main {
	padding: 10px 0 0 160px
}

.info-main h2 {
	font-size: 24px
}

.info-tag {
	padding: 5px 0 15px
}

.info-tag-link {
	font-size: 13px;
	color: #424242;
	border-radius: 10px;
	margin-right: 10px;
	line-height: 28px;
	padding: 0 10px;
	display: inline-block;
	background: #f3f5f7
}

.info-content {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	word-wrap: break-word;
	display: -webkit-box;
	overflow: hidden;
	max-height: 85px;
	font-size: 14px;
	color: #616161
}

.side-content .list-header {
	padding-top: 0
}

.side-content .list-box {
	margin-right: -10px
}

.side-content .poster-item {
	width: calc(33.33% - 10px);
	margin: 0 10px 15px 0
}

.text-box {
	padding-right: 10px
}

.text-box p a {
	color: #e50914
}

.text-box p {
	font-size: 14px;
	color: #424242;
	padding-bottom: 15px
}

.text-box p.text-box-important {
	background: #fafafa;
	padding: 15px 20px;
	margin: 0 -20px 15px -23px;
	border-left: 3px solid #c2c6d0;
	color: #212121
}

.text-box p.text-box-footer {
	padding-top: 15px;
	text-align: center
}

.text-box p.btn-tips {
	font-size: 12px;
	text-align: center;
	color: #616161
}

.text-btn {
	font-size: 14px;
	padding: 0 30px;
	height: 40px;
	line-height: 38px;
	display: inline-block;
	border: 1px solid #e50914;
	color: #e50914;
	border-radius: 50px
}

footer {
	font-size: 14px;
	text-align: center;
	padding: 20px;
	background: #f1f3f5;
	margin-top: 60px;
	color: #424242
}

footer span {
	margin: 0 8px;
	color: #bcbcbc
}

.doc-content {
	padding: 25px 30px 50px
}

.doc-content h2 {
	font-size: 30px;
	text-align: center;
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 10px
}

.doc-content h2::after {
	content: '';
	position: absolute;
	height: 5px;
	width: 40px;
	background: #e50914;
	left: calc(50% - 20px);
	bottom: 0;
	border-radius: 5px
}

.doc-content h4 {
	font-size: 18px;
	padding-top: 18px
}

.doc-content p+.doc-block-header {
	margin-top: 20px
}

.doc-content p {
	font-size: 14px;
	color: #424242;
	padding-top: 18px;
	line-height: 1.8
}

.doc-content p.text-box-important strong::before {
	content: '';
	background: #e50914;
	font-weight: 900;
	height: 2px;
	margin-right: 8px;
	width: 8px;
	display: inline-block;
	position: relative;
	top: -4px
}

.doc-content p.text-box-important {
	padding: 0 0 0 15px;
	color: #212121;
	border-radius: 0 10px 10px 0;
	border-left: 3px solid #c2c6d0;
	margin: 10px 0 0 0
}

.doc-content p.text-box-important>em {
	font-weight: 700;
	color: #e50914;
	font-style: normal
}

.doc-content p a {
	color: #e50914;
	font-weight: 700
}

.doc-content p a:hover {
	text-decoration: underline
}

.doc-content p strong {
	color: #212121
}

.doc-block-header {
	position: relative
}

.doc-block-header strong {
	background: rgba(7,7,7,.7);
	padding-right: 15px;
	z-index: 1;
	position: relative
}

.doc-block-header::after {
	content: '';
	position: absolute;
	height: 1px;
	background: #e9ecef;
	width: 100%;
	left: 0;
	bottom: 12px
}

.doc-block-header::before {
	content: '';
	position: absolute;
	height: 15px;
	background: #e50914;
	width: 20px;
	left: -35px;
	bottom: 7px;
	z-index: 2;
	border-radius: 0 3px 3px 0;
	transform: skewX(-12deg)
}

pre {
	background: #e9ecef;
	border-left: 3px solid #c2c6d0;
	border-radius: 0 10px 10px 0;
	margin-top: 10px;
	font-size: 14px
}

code {
	margin: 0 14px;
	overflow: auto;
	width: calc(100% - 20px);
	display: inline-flex;
	padding: 20px 10px
}

@media (max-width: 1122px) {
	.wrap {
		width: 960px
	}

	.home-search-container {
		padding: 100px 150px
	}

	.wrap-side {
		display: none
	}

	.wrap-main {
		width: 100%
	}

	.wrap-main .poster-item {
		width: calc(14.2857% - 15px)
	}

	.list-m .poster-item:nth-last-child(-n+2) {
		display: inline-block
	}
}

@media (max-width: 999px) {
	.wrap {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px
	}

	.home-search::after {
		background-size: 70%
	}

	.home-search-container {
		padding: 60px 80px
	}

	.home-search-container h2 {
		font-size: 30px
	}

	.wrap-main .poster-item,
	.poster-item {
		width: calc(16.6666% - 15px)
	}

	.list-w .poster-item:nth-last-child(-n+2) {
		display: none
	}

	.page-header .logo {
		width: 28px;
		overflow: hidden
	}

	.page-header .search-box-wrap {
		left: 60px
	}

	.page-header .search-box {
		width: 380px
	}

	.list-m .poster-item:nth-last-child(-n+1) {
		display: none
	}

	.tab-item {
		font-size: 16px
	}
}

@media (min-width: 560px) {
	.menu {
		flex: 1;
		display: flex;
		justify-content: flex-end
	}

	.list-row-info:hover {
		background: linear-gradient(to left, rgba(7,7,7,.7)0ec 0%, rgba(7,7,7,.7) 100%)
	}

	.list-row-info:nth-child(odd):hover {
		background: linear-gradient(to left, rgba(7,7,7,.7)0ec 0%, #f7f8f9 100%)
	}

	.list-row-info:hover h4 {
		font-weight: 700
	}

	.list-row-info:hover .list-row-playicon i {
		background: #e50914
	}
}

@media (max-width: 559px) {
	body::after {
		background-size: 300%;
		top: 0;
		background-position: 60% top
	}

	.header {
		height: 56px;
		padding: 7px 15px !important
	}

	.logo {
		height: 26px
	}

	.page-header .logo {
		width: 26px;
		overflow: hidden
	}

	.page-header .search-box-wrap {
		left: 55px
	}

	.page-header .search-box {
		width: calc(100vw - 108px);
		background: rgba(7,7,7,.7);
		box-shadow: 0px 0 10px 0 rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.1);
		padding: 1px
	}

	.page-header .search-input {
		height: 36px;
		border-radius: 9px;
		font-size: 14px
	}

	.page-header .search-btn {
		font-size: 14px
	}

	.page-header .search-box .icon-search {
		left: 14px;
		top: 12px;
		font-size: 14px
	}

	.search-advice {
		border: 0;
		box-shadow: 0px 0 5px 0 rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.1)
	}

	.search-advice:before {
		content: '';
		position: absolute;
		left: 0;
		width: 100%;
		background: rgba(7,7,7,.7);
		height: 10px;
		top: -8px
	}

	#advice {
		margin: 0 20px
	}

	#advice li:hover {
		margin: 0 -20px;
		padding: 3px 20px
	}

	#advice li:before {
		margin-left: 0
	}

	.page-header #advice {
		margin: 0 15px
	}

	.page-header #advice li:hover {
		margin: 0 -15px;
		padding: 3px 15px
	}

	.home-search-container {
		padding: 45px 15px 15px
	}

	.wrap {
		padding: 0
	}

	.menu {
		position: absolute;
		right: 11px
	}

	.menu-icon {
		width: 20px;
		height: 2px;
		box-shadow: inset #9e9e9e 0 0 0 32px, #9e9e9e 0 -6px, #9e9e9e 0 6px;
		margin: 16px 7px
	}

	.menu-container {
		display: none
	}

	.menu:hover .menu-container {
		display: block;
		font-size: 0;
		position: fixed;
		right: 0;
		top: 56px;
		width: 100vw;
		background: rgba(7,7,7,.7);
		border-top: 1px solid #f3f5f7;
		border-radius: 0 0 10px 10px;
		padding: 8px 15px;
		box-shadow: 0px 10px 10px rgba(153, 153, 153, 0.3)
	}

	.menu:hover .menu-item {
		padding: 0;
		width: calc(100% - 10px);
		display: inline-block;
		padding: 10px 5px;
		border-top: 1px solid #f3f5f7
	}

	.menu:hover .menu-item:first-child {
		border-top: 0
	}

	.menu:hover .menu-item-name {
		font-size: 14px
	}

	.menu:hover .menu-item-name i {
		float: right;
		font-size: 12px;
		display: block;
		line-height: 20px;
		color: #bcbcbc
	}

	.wrap {
		padding-top: 56px
	}

	.doc .list {
		padding: 0 20px
	}

	.page-header+.wrap .list {
		padding-top: 5px
	}

	.wrap-main .list:last-child {
		padding-top: 0
	}

	.doc .wrap-main .list:last-child {
		padding-top: 30px
	}

	.doc-block-header::before {
		left: -33px
	}

	.wrap-main .list {
		padding-top: 20px
	}

	.list-tab {
		float: initial;
		padding: 5px 15px;
		margin: 0 -15px;
		overflow-y: auto
	}

	.list-tab-content {
		display: inline-flex
	}

	.list-tab-item {
		white-space: nowrap
	}

	.tab-item {
		font-size: 14px;
		padding: 12px 0;
		background: #f3f5f7
	}

	.home-search-container h2 {
		font-size: 24px;
		color: #424242
	}

	.home-search-container h3 {
		font-weight: 300;
		padding-top: 0
	}

	.home-search-container h3 span {
		display: none
	}

	.search-box {
		padding: 0
	}

	.home-search .search-box {
		background: rgba(7,7,7,.7);
		box-shadow: 0px 0 15px 0 rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.1)
	}

	.home-search .search-box .icon-search {
		left: 20px;
		top: 18px;
		font-size: 15px
	}

	.home-search::after {
		background-size: 60%
	}

	.search-input {
		border-radius: 12px;
		font-size: 14px
	}

	.search-advice {
		margin-top: 0
	}

	.search-btn {
		border-radius: 0 10px 10px 0
	}

	.search-box-wrap {
		padding-top: 15px
	}

	.list {
		padding: 0 15px 5px;
		border-radius: 0;
		box-shadow: none;
		border-bottom: 8px solid #f1f3f5;
		margin-bottom: 0
	}

	.doc .list {
		background: none
	}

	.list:last-child {
		border-bottom: none
	}

	.list-header {
		padding-top: 20px;
		margin-top: 0
	}

	.list-header.tab {
		padding: 0 0 15px
	}

	.list-box {
		margin-right: -10px
	}

	.poster-item-info {
		margin-top: 10px
	}

	.wrap-main .poster-item,
	.poster-item {
		width: calc(33.3333% - 10px);
		margin: 0 10px 15px 0
	}

	.info-poster-item {
		width: 100px
	}

	.info {
		padding: 25px 15px 20px
	}

	.info-main {
		padding: 5px 0 0 115px
	}

	.info-tag {
		padding: 10px 0
	}

	.info-tag-link {
		font-size: 12px;
		line-height: 24px
	}

	.info-main h2 {
		line-height: 1.3;
		font-size: 18px
	}

	.info-content {
		-webkit-line-clamp: 2;
		max-height: 44px;
		font-size: 12px
	}

	.list-row-siteicon {
		width: 22px
	}

	.list-row-title {
		margin-left: 30px
	}

	.list-row-title h4 {
		font-size: 14px
	}

	.list-row-playicon {
		margin: 5px 0 0 5px
	}

	.list-m .poster-item:nth-last-child(-n+1) {
		display: inline-block
	}

	.m-scroll {
		overflow-y: auto;
		webkit-overflow-scrolling: touch;
		margin: 0 -15px;
		padding: 0 15px
	}

	.m-scroll-content {
		display: inline-flex
	}

	.m-scroll::-webkit-scrollbar {
		display: none
	}

	.m-scroll .poster-item {
		width: 27vw
	}

	.m-scroll .poster-item:last-child {
		margin-right: 0
	}

	.list-header h3 {
		font-size: 18px
	}

	.list-header h3::after,
	.list-header h3::before {
		top: 6px
	}

	.more-go {
		font-size: 12px;
		color: #e50914;
		padding: 4px 10px 4px 12px
	}

	.more-go i {
		margin-left: 0;
		vertical-align: -1px
	}

	footer {
		margin-top: 30px
	}
}
