











































































.tdtop,.ta_wjq{border-style:none;center;background:linear-gradient(transparent,transparent)!important;}#menuList li.gml{border-bottom:0;}#dzx,#ysmenu1,#lyz{background:transparent}body{background:url(https://dl.zhutix.net/2023/09/78234786.gif) center top;background-size:cover;background-size:100%}*{color: black;font-size:10pt;font-weight:bold;}div.yszdyq{margin:0;}#idzdy1{display:none!important}#buyh span{visibility:hidden;}.fgg5 .ystop a,.fgg5 .ystop{text-align:center;color:#f900a1}.z_bt{display: none}.fgg5 .dqcd, .fgg5 #ysmenu1{background-color:#cce2f400;}
