











































































#div,.div,.bg_green,.tdtop,.ta_wjq{background:transparent!important}
#dzx,#ysmenu1,#lyz{border-radius:37px 37px 7px 7px;box-shadow:0 7px 7px rgba(0,0,0,0.3)}
.yszdyq{display: none}input[type="button"],button{color:#F57F17;background-color:transparent;border:px solid #6c757d;padding:.373rem.73rem}
#menuList li{padding:5px!important}.z_bt{display:none}
.tdtop{border-bottom:1px solid #3e3e3e00}
#dzx{overflow-y:auto!important}
input[type="button"],button{color:#F57F17;background-color:transparent;padding:1px;}
#menuList li{padding:5px!important}
.ta_wjq {line-height: 25px;min-height: 26px;}
#ysmenu>div:first-child{margin-left:0!important;}
#ysmenu div {margin:0px;width:25%;height:28px;text-align:center;}
.yszdyq{display:none;}
.z_bt{display:none;border:none;}
body{background-image:url('https://t.mwm.moe/ai');background-size:cover;background-repeat:no-repeat;}
@media all and (orientation : portrait){
body{background-image:url('https://t.mwm.moe/mp');background-size:cover;background-repeat:no-repeat;}}
div.yszdyq{margin:0;}#div,#idzdy1{display:none!important}#buyh span{visibility:hidden;}.fgg5 .ystop a,.fgg5 .ystop{text-align:center;color:#f900a1}.z_bt{display: none}.fgg5 .dqcd, .fgg5 #ysmenu1{background-color:#cce2f400;}.tdtop,.ta_wjq{border-style:none;center;background:linear-gradient(transparent,transparent)!important;}#menuList li.gml{border-bottom:0;}#dzx,#ysmenu1,#lyz{background:transparent}a,li,p,span,*{color: black;font-size:10pt;font-weight:bold;text-decoration:none;cursor:pointer;color:#fff;text-shadow:#f0f 0 1px 3px,#f0f 1px 0 3px,#f0f 0 -1px 3px,#f0f -1px 0 3px;filter:glow(color=#FF00FF,strength=3)}
