/*小້໌ᮨㅤ七҉130001373 */
#qq_icon {
	width:200px;
	height:200px;
	background:url(https://s1.ax1x.com/2022/03/31/qRnwCQ.png) no-repeat;
	position:fixed;
	right:-200px;
	top:150px;
	cursor:pointer;z-index:777
}
#cs_online {
	width:217px;
	height:324px;
	position:fixed;
	top:150px;
	right:-220px;
	background:url(https://s1.ax1x.com/2022/03/31/qRna4g.png) no-repeat;
	display:none;
	filter:alpha(opacity:0);
	opacity:0;z-index:777
}
.qq_context {
	width:185px;
	height:244px;
	margin-top:50px;
	margin-left:60px;
	list-style:none;
	padding:0px;
}
.qq_context li {
	width:175px;
	height:25px;
	margin-left:5px;
	margin-top:20px;
	float:left;
}
.span_t {
	display:block;
	float:left;
	color:#333;
	line-height:25px;
	font-size:12px;
	font-family:'Arial';
}
/* 小້໌ᮨㅤ七҉130001373 */