@font-face {
  font-family: "io"; /* Project id 3435227 */
  /* Color fonts */
  src: 
       url('../font/font_3435227_1rje6hinmj4.woff2') format('woff2'),
       url('../font/font_3435227_1rje6hinmj4.woff') format('woff'),
       url('../font/font_3435227_1rje6hinmj4.ttf') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-yueqiu:before {
  content: "\e604";
}

.io-games:before {
  content: "\e67f";
}

.io-huaxue:before {
  content: "\e606";
}

.io-PPT:before {
  content: "\e642";
}

.io-se:before {
  content: "\e6ca";
}

.io-remen1:before {
  content: "\e60e";
}

.io-quanqiuqihou:before {
  content: "\e71b";
}

.io-remen2:before {
  content: "\e6cd";
}

.io-xiazai1:before {
  content: "\e6a8";
}

.io-daochu1024-01:before {
  content: "\e616";
}

.io-wenzhang:before {
  content: "\ecb4";
}

.io-xiazai2:before {
  content: "\ecb5";
}

.io-remaituijian:before {
  content: "\ffa4";
}

.io-xiazai3:before {
  content: "\10017";
}

.io-Windows:before {
  content: "\e6a0";
}

.io-yingyongzhongxin:before {
  content: "\e629";
}

.io-yingyong:before {
  content: "\e721";
}

.io-tougao:before {
  content: "\e60d";
}

.io-xuexi:before {
  content: "\ecf1";
}

.io-bilibili:before {
  content: "\e609";
}

.io-qq:before {
  content: "\e601";
}

.io-weixingongzhonghao:before {
  content: "\e603";
}

.io-books:before {
  content: "\e666";
}

.io-Books:before {
  content: "\e891";
}

.io-kaoyan:before {
  content: "\e602";
}

.io-book:before {
  content: "\ec96";
}

.io-wujingongju:before {
  content: "\e64f";
}

.io-zhifeiji:before {
  content: "\ec25";
}

.io-yingshi1:before {
  content: "\ecb3";
}

.io-Pointer-zhizhen:before {
  content: "\e615";
}

.io-huihua:before {
  content: "\e6b1";
}

.io-dianying:before {
  content: "\e6c6";
}

.io-yingshi:before {
  content: "\1001f";
}

