@font-face {
  font-family: "io"; /* Project id 3572288 */
  /* Color fonts */
  src: 
       url('../font/font_3572288_abgplfh6axw.woff2') format('woff2'),
       url('../font/font_3572288_abgplfh6axw.woff') format('woff'),
       url('../font/font_3572288_abgplfh6axw.ttf') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-gengduo:before {
  content: "\e724";
}

.io-zixun:before {
  content: "\ffeb";
}

.io-sousuo:before {
  content: "\e6e0";
}

.io-wenjian-:before {
  content: "\e608";
}

.io-chuangxinchuangyexunlianjihua:before {
  content: "\e600";
}

.io-luntanzixun:before {
  content: "\e613";
}

.io-dayinji:before {
  content: "\e617";
}

.io-shouce:before {
  content: "\ef0e";
}

.io-daijiedan:before {
  content: "\f5d8";
}

.io-drxx10:before {
  content: "\e649";
}

.io-luntan:before {
  content: "\f9fe";
}

.io-wangluokecheng:before {
  content: "\e6b4";
}

.io-wodetuandui:before {
  content: "\e65b";
}

.io-jiaoyubeijing--:before {
  content: "\e618";
}

.io-179:before {
  content: "\e729";
}

.io-sucai:before {
  content: "\ef2a";
}

.io-daima:before {
  content: "\e602";
}

.io-xingqiu:before {
  content: "\e615";
}

.io-meishu-tupian:before {
  content: "\e692";
}

.io-manhua:before {
  content: "\e61f";
}

.io-shuji:before {
  content: "\f331";
}

.io-wangyiyunyinle:before {
  content: "\e63c";
}

.io-dongman1:before {
  content: "\f9cc";
}

.io--yinle:before {
  content: "\e60b";
}

.io-MBEfenggeduosetubiao-zhinanzhen:before {
  content: "\e636";
}

.io-windows:before {
  content: "\ea06";
}

.io-dongman:before {
  content: "\fb79";
}

.io-Pointer-zhizhen:before {
  content: "\e614";
}

.io-youxi:before {
  content: "\e612";
}

.io-youxi1:before {
  content: "\e62f";
}

.io-dibiaojianzhu:before {
  content: "\e62b";
}

.io-Halloween-:before {
  content: "\e60e";
}

.io-mengfeisi-shijueliti:before {
  content: "\e6ec";
}

.io-gongju:before {
  content: "\e61b";
}

