@font-face {
  font-family: "io"; /* Project id 3575586 */
  /* Color fonts */
  src: 
       url('../font/font_3575586_sq9p6mibp4f.woff2') format('woff2'),
       url('../font/font_3575586_sq9p6mibp4f.woff') format('woff'),
       url('../font/font_3575586_sq9p6mibp4f.ttf') format('truetype');
}

.io {
  font-family: "io" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.io-lishi:before {
  content: "\e60f";
}

.io-diqiuyi:before {
  content: "\e6cf";
}

.io-chizi:before {
  content: "\e6f8";
}

.io-shuben:before {
  content: "\e623";
}

.io--falvzixun:before {
  content: "\e725";
}

.io-06chart:before {
  content: "\e628";
}

.io-xianxingdiqiuyi:before {
  content: "\e67a";
}

.io-jigou:before {
  content: "\e640";
}

.io-281:before {
  content: "\e74a";
}

.io-linggan:before {
  content: "\e68d";
}

.io-sheji-yuanwenjian:before {
  content: "\e62d";
}

.io-tuceng:before {
  content: "\e77d";
}

.io-xiangce-copy:before {
  content: "\e61a";
}

