body{margin:0px;padding:0px;color:#222222;font-size:12px;font-family: "微软雅黑";background-color:#EEE;}
a{text-decoration: none;color: #004276;} a:hover{color: #CC0000;text-decoration:none;}
/* a{text-decoration:none;cursor:pointer;color:#fff;text-shadow:#f0f 0 1px 3px,#f0f 1px 0 3px,#f0f 0 -1px 3px,#f0f -1px 0 3px;filter:glow(color=#FF00FF,strength=3)} */
#nav a:hover{color:#fff;text-decoration:none}
#nav a.on,#nav a.on:hover{color:#fff;font-size:14px}
#nav .menu{font-weight:600;color:red;font-size:17px;margin-left:3px}
#webbox{position:absolute;top:30px;width:100%;bottom:0}
#online{width:100%;height:100%}
img{border:none;vertical-align:text-bottom; width:auto; height:auto;}
div, h1, h2, h3, h4, p, form, ul, label, input, textarea, img, span, dl, dt, dd{margin:0px;padding:0;}
.clear{clear:both;}
li{list-style-type: none;}
::selection{background: #F22222;color: white;text-shadow: none;}

/*----------全站定位----------*/
#wrap{width:100%;margin: 0px auto;padding: 0px 0px;background: none repeat scroll 0% 0% #777;box-shadow: 0px 0px 0px 0px rgba(7,7,7,.7);min-height: 100%;}
/* -----------------------------菜单部分----------------------------- */
#nav-wrap{margin-top:0px;display:none;}
/*---------响应式----------*/
@media screen and (max-width:9800px){
#top{display:block}
}
@media screen and (max-width:9600px){
html{-webkit-text-size-adjust:none}
embed,iframe{ max-width:100%;}
#wrap,#footer{ width:100%; padding:0 0 !important;}
#footer{ margin:0 0 !important;}
#left{width:100% !important;margin:auto;margin-top:50px;}
#hm_t_62962{ width:665px; margin-left:auto; margin-right:auto;}
#head,#ad1,#topnav,#nav,#post-nav,#left .special-ad,#zi .context_box span,#BY-NC-ND,#footer span{display:none;}
#right{width:95% !important;margin:auto;margin-top:33px;margin-right: 3%;}
#nav-wrap{width:100%;background-color:#222222;position:fixed;box-shadow:0 0 5px #999;z-index:99;height:33px;top:0;display:block;}
#logos{float:left;display:block;}
#logos h1,#logos h2{font-size:24px;display:block;text-shadow:none;color:#fff;padding-top:0px;padding-left:3px;font-family:'Microsoft YaHei', Verdana, Arial;}
#logos h1 a,#logos h2 a{color:#F22222;text-decoration:none;display:block;}
/* menu icon */
#nav-wrap .menu-icon{font-size:18px;color:#fff;width:42px;height:30px;background:#222222 url(../image/btn_2.png) no-repeat 10px center;padding:1px 10px 0 42px;cursor:pointer;border:solid 1px #F22222;display:block;float:right;}
#nav-wrap .select{background:#F22222 url(../image/btn_1.png) 10px no-repeat;}
/* main nav */
#nav{ top:33px;right:0px;width:94px; position:absolute;border:1px solid #222222;display:none; background:#F22222;}
#nav li{ text-align:center; line-height:30px; }
#nav li a{ text-align:center; font-size:16px; color:#FFFFFF;display:block; }
#nav a:hover,#nav ul a:hover{background:#CCCCCC;color:#222222; text-decoration:none;}
#tu img{ position:absolute; left:10px; margin-top:45px;}
#lieb dl dd #zi1{ width:auto; margin-left:140px;}
#lieb dl dd .tags{ float:left; width:auto;margin-left:140px; overflow:visible; line-height:15px; height:20px;}
#left #ad2{ display:block;}
}
@media screen and (max-width:675px){
#tu img{ margin-top:30px;}
#lieb dl dt span,#left center,#hm_t_62962,#ad4{display:none;}
#lieb dl dt{ margin-bottom:0px;}
#lieb dl dt h2{ font-size:14px; margin-left:-5px;}
#lieb dl dt h2 a{ color:#F22222;}
#lieb dl dt h2 a:hover{ color:#222222; background:none;}
#lieb dl dd .tags { float:left; width:auto; overflow:visible; line-height:15px; height:20px;}
#zi1{ width:auto !important; height:auto;}
#guan li a{ overflow:hidden;}
.meta-nav {width:37%}
}
@media screen and (max-width:500px){
#wrap #links,#ckepop,#title .bdsharebuttonbox,#zi #cyEmoji,#guan li span{display:none;}
#lieb dl{ margin-bottom:-15px;}
#lieb dl dd #zi1,#lieb dl dd .tags{height::80px; text-align:justify;}
#lieb .pagebar{ margin-top:10px; margin-bottom:-10px;}
#zi #ad3{margin-left:-11px;}
}